services:
  postgres:
    image: postgres:17-alpine
    env_file: .env 
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  migrate:
    build: .
    command: sh -c "uv run alembic upgrade head"
    env_file: .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres

  rabbitmq:
    image: rabbitmq:3-management-alpine
    env_file: .env  
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672"
      - "15672:15672"

  celery_worker:
    build: .
    command: uv run celery -A app.celery_tasks.worker worker --loglevel=info
    env_file: .env 
    environment:
      BROKER_URL: ${RABBITMQ_URL}
    depends_on:
      - redis
      - rabbitmq
      - postgres

  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env  
    depends_on:
      - postgres
    command: sh -c "uv run uvicorn app.main:app --host 0.0.0.0 --port 8000"
    expose:
      - "8000"

volumes:
  postgres_data:
  redis_data: